---
layout: default
---

<div id="index-wrapper">
    <div class="profile-pic">
      <img src="images/Me.jpg">
      {% include social_links.html %}
    </div>
    <section>
        <h2>Biography</h2>
        <span>
          I work as C#/.NET developer at <a href="https://www.ansys.com/"> ANSYS</a>.<br/>
          I am currently interested in applications of deep learning to computer vision problems.
        </span>
        <br><br>
        <span>
          I have a masters degree in mechanical engineering from <a href="https://www.stonybrook.edu/">  Stony Brook University</a>.
        </span>
        {% if site.show_social_icons %}
          {% include social_links.html %}
        {% endif %}
        {% if site.show_affiliations %}
          {% include affiliations.html %}
        {% endif %}

    </section>
</div>
<div class="clearfix"></div>

{% if site.show_highlighted_projects %}
  {% include highlighted_projects.html %}
{% endif %}